div.display {
    text-align: -moz-center;
}
div.area {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    width:10%;

}
div.area p {
    margin:5%;
    font-weight: bold;
    color: #000000;
}
div.type {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    width:10%;
}
div.type p {
    margin:5%;
    font-weight: bold;
    color: #000000;
}